<div class="c-welcome-header">
    <div class="row">
        <div class="small-12 columns">
            <div class="c-welcome-header-wrapper c-welcome-header-wrapper--wbg">
                {% comment %}<img src="{{'/assets/img/header/welcome-img.jpg' | prepend: site.baseurl }}" class="c-welcome-header__img" alt="Česká pirátská strana">{% endcomment %}
                <div class="c-welcome-header-content">
                    <img src="{{'/assets/img/brand/logo-susice.png' | prepend: site.baseurl }}" alt="Česká pirátská strana" class="c-welcome-header__brand">
                    <blockquote class="c-welcome-header__quote">
                        <h2>JSME PIRÁTI SUŠICE<br> A POMÁHÁME NAŠEMU MĚSTU</h2><br>
                        <p>
                        Naším cílem je obec, kde může každý člověk prožít svůj život svobodně a naplno. Klíčem k prosperitě naší společnosti je otevřenost, kvalitní vzdělání a veřejné služby, použití nových technologií a zapojení občanů do rozhodování.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

